In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\BostonHousing.csv")
dataset.head(3)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [5]:
dataset.rename(columns={'medv': 'Home_Price'}, inplace=True)
dataset.head(10)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,Home_Price
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18.9

In [8]:
# Differentiate the input and the output Data..
input_Data = dataset.iloc[:, : -1]
output_Data = dataset["Home_Price"]

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train, x_test, y_train, y_test = train_test_split(input_Data, output_Data, test_size=0.25)

In [12]:
x_train, y_train

(        crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
 234  0.44791   0.0   6.20     1  0.507  6.726  66.5  3.6519    8  307
 171  2.31390   0.0  19.58     0  0.605  5.880  97.3  2.3887    5  403
 180  0.06588   0.0   2.46     0  0.488  7.765  83.3  2.7410    3  193
 223  0.61470   0.0   6.20     0  0.507  6.618  80.8  3.2721    8  307
 451  5.44114   0.0  18.10     0  0.713  6.655  98.2  2.3552   24  666
 ..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
 117  0.15098   0.0  10.01     0  0.547  6.021  82.6  2.7474    6  432
 245  0.19133  22.0   5.86     0  0.431  5.605  70.2  7.9549    7  330
 216  0.04560   0.0  13.89     1  0.550  5.888  56.0  3.1121    5  276
 330  0.04544   0.0   3.24     0  0.460  6.144  32.2  5.8736    4  430
 316  0.31827   0.0   9.90     0  0.544  5.914  83.2  3.9986    4  304

      ptratio       b  lstat
 234     17.4  360.20   8.05
 171     14.7  348.13  12.03
 180     17.8  395.56   7.56
 223     17.4  396.90   7.60
 451     20.2  355.29  17.73
 ..       ...     ...    ...
 117     17.8  394.51  10.30
 245     19.1  389.13  18.46
 216     16.4  392.80  13.51
 330     16.9  368.57   9.09
 316     18.4  390.70  18.33

 [379 rows x 13 columns],
 234    29.0
 171    19.1
 180    39.8
 223    30.1
 451    15.2
        ...
 117    19.2
 245    18.5
 216    23.3
 330    19.8
 316    17.8
 Name: Home_Price, Length: 379, dtype: float64)

In [14]:
x_test, y_test

(        crim    zn  indus  chas     nox     rm   age     dis  rad  tax  \
 32   1.38799   0.0   8.14     0  0.5380  5.950  82.0  3.9900    4  307
 103  0.21161   0.0   8.56     0  0.5200  6.137  87.4  2.7147    5  384
 321  0.18159   0.0   7.38     0  0.4930  6.376  54.3  4.5404    5  287
 73   0.19539   0.0  10.81     0  0.4130  6.245   6.2  5.2873    4  305
 332  0.03466  35.0   6.06     0  0.4379  6.031  23.3  6.6407    1  304
 ..       ...   ...    ...   ...     ...    ...   ...     ...  ...  ...
 50   0.08873  21.0   5.64     0  0.4390  5.963  45.7  6.8147    4  243
 277  0.06127  40.0   6.41     1  0.4470  6.826  27.6  4.8628    4  254
 157  1.22358   0.0  19.58     0  0.6050  6.943  97.4  1.8773    5  403
 250  0.14030  22.0   5.86     0  0.4310  6.487  13.0  7.3967    7  330
 42   0.14150   0.0   6.91     0  0.4480  6.169   6.6  5.7209    3  233

      ptratio       b  lstat
 32      21.0  232.60  27.71
 103     20.9  394.47  13.44
 321     19.6  396.90   6.87
 73      19.2  377.17   7.54
 332     16.9  362.25   7.83
 ..       ...     ...    ...
 50      16.8  395.56  13.45
 277     17.6  393.45   4.16
 157     14.7  363.43   4.59
 250     19.1  396.28   5.90
 42      17.9  383.37   5.81

 [127 rows x 13 columns],
 32     13.2
 103    19.3
 321    23.1
 73     23.4
 332    19.4
        ...
 50     19.7
 277    33.1
 157    41.3
 250    24.4
 42     25.3
 Name: Home_Price, Length: 127, dtype: float64)